@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

/* NAVBAR */
.navbar {
		height: 100px;
		background-color: #fdbf41;
}

.navbar .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 85%;
		margin: 0 auto;
		height: 100%;
}

.navbar .container .logo {
		width: 5%;
}

.navbar .container .logo img {
		width: 100%;
		cursor: pointer;
}

.navbar .container .links {
		display: flex;
		align-items: center;
		justify-content: space-between;
}

.navbar .container .links li {
		list-style: none;
}

.navbar .container .links li a {
		text-decoration: none;
		font-size: 17px;
		padding: 0 10px;
		color: #3d2514;
		font-weight: 400;
		text-transform: uppercase;
		font-family: "Bebas Neue", Sans-serif;
		letter-spacing: 2.6px;
		transition: color .3s ease-in-out;
}

.navbar .container .links li a:hover {
		color: #f76c09;
}

.fotocad img{
	height: 600px;
	width: 600px;
	margin-left: 100px;
	margin-top: 30px;
	justify-content: right;
	float: left;
}

.containercad {

	margin-top: 10px;
	background-color: #fdbf41;
	padding: 30px;
	border-radius: 8px;
	width: 400px;
	justify-content: left;
	margin-left: 800px;
	font-family: "Bebas Neue", Sans-serif;

}


h2 {

		margin-top: 20px;
		color: #333;
}


label{

		display: block;
		margin-top: 10px;
		color: #5a5a5a;

}


.input-group [type="text"],
.input-group [type="email"],
.input-group [type="tel"],
textarea {

		width: 100%;
		padding: 8px;
		margin-top: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;

}


legend{
		margin-top: 20px;
}


.opcao{

		margin-top: 10px;
		display: flex;
		flex-direction: column;

}

button {

		width: 50%;
		padding: 10px;
		margin-top: 20px;
		margin-left: 90px;
		background-color: #28a745;
		color: #fff;
		border: none;
		border-radius: 14px;
		transition: transform 0.5;

}

p{
		margin-top: 10px;
		font-size: small;
}
