@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

/* NAVBAR */
.navbar {
		height: 100px;
		background-color: #fdbf41;
}

.navbar .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 85%;
		margin: 0 auto;
		height: 100%;
}

.navbar .container .logo {
		width: 5%;
}

.navbar .container .logo img {
		width: 100%;
		cursor: pointer;
}

.navbar .container .links {
		display: flex;
		align-items: center;
		justify-content: space-between;
}

.navbar .container .links li {
		list-style: none;
}

.navbar .container .links li a {
		text-decoration: none;
		font-size: 17px;
		padding: 0 10px;
		color: #3d2514;
		font-weight: 400;
		text-transform: uppercase;
		font-family: "Bebas Neue", Sans-serif;
		letter-spacing: 2.6px;
		transition: color .3s ease-in-out;
}

.navbar .container .links li a:hover {
		color: #f76c09;
}


.profile-container.hover {
	transform: scale(1.1); 
	box-shadow: 0 0 10px rgb(255, 204, 204, 0.2); 
}


.container1 {
 display: flex;
 flex-direction: column;
 gap: 10px;
 justify-content: center;
 align-items: center;
 margin-top: 30px; 
 padding: 20px;

}

.profile-container {
	border-radius: 10px;
	width: 600px;
	display: flex;
	align-items: center;
	background-color: #fdbf41;
	gap: 5px; 
	border: 5px solid  #f76c09; 
	padding: 20px;



}
.profile-container figure img{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 5px solid  #3d2514;

}

.profile-container p {
		color:#3d2514;
		margin-right: 20px;
		font-size:large;
		align-items:flex-end;
		font-family:'Courier New', Courier, monospace;
		letter-spacing: -0.5px;
}

.profile-container h1{
	font-family: 'Courier New', Courier, monospace;
	font-size:14px;
	color: #3d2514;
	word-break:normal;
	letter-spacing: -0.5px;

}

